* {
  border: 1px solid dodgerblue;
  padding: 2px;
}

body {
  width: 100%;
  border: none;
}

#App {
  display: block;
  width: 99%;
  border: none;
}

#NavBar {
  width: 100%;
  background-color: orange;
  height: 30px;

}

#Info {
  width: 100%;
  height: auto;
  padding: 2px;
  display: inline-block;
  margin: auto;
  background-color: lemonchiffon;
}

#Search {
  width: 100%;
  height: auto;
  padding: 2px;
  display: inline-block;
  margin: auto;
  background-color: blanchedalmond;
  word-wrap: break-word;
}

#Table {
  width: 100%;
  position: relative;
}

#next {
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 136px;

    border: 1px solid black;
}

#previous {
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 136px;

    border: 1px solid black;

}
